

.woodlayer{
  position: absolute;
}


.ninetywidth{
  margin: auto;
  width: 80vw;
  /*position: absolute;*/
  top: 200px;
}

/*Carol*/

.col-md-12.nopadding{
  padding: 0;
}


.portfolio_images{
  width: 77%;
  margin: auto;
}

#carousel{
  zoom: 80%;
}



.container_relative{
  position: relative;
  width: 100vw;
}
