@font-face{
  font-family: 'Lato', sans-serif;
  src: url("~/fonts/Lato-Bol.ttf");
}

.email{
    color: white;
    font-family: 'Lato', sans-serif;
    src: url("~/fonts/Lato-Bol.ttf");
    text-transform: lowercase;
	padding-top: 2%;
  }

.container_contacts{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  width: 30%;
  height: 100px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  zoom: 50%;

}


h4 a,
h4 > a:visited,
h4 > a:link,
h4 > a:active{
  display: inline-block;
  /*opacity: .8;*/
  text-align: center;
  font-size: 2vw;
  color: ivory;
  font-family: 'Lato', sans-serif;
	src: url("~/fonts/Lato-Bol.ttf");
  text-decoration: none;
  transition: all ease-in-out;
  float: left;
  padding: 20px 50px 20px 50px;
  opacity: 1;
  text-transform: lowercase;
}

h4.email a{
  font-size: 2.25vw;
}

h4 a:hover,
h4:hover{
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FC9C54, 0 0 30px #FC9C54, 0 0 40px #FC9C54, 0 0 50px #FC9C54, 0 0 75px #FC9C54;
  z-index: 1000;
}

.noflicker{
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}
.flicker,
.flicker a,
.flicker >a:visited,
.flicker >a:link,
.flicker >a:active{
  color: none;
  -webkit-text-shadow: 0 0 5px #ffe2d1, 0 0 10px #fa9d66, 0 0 15px #fa9d66, 0 0 20px #fa9d66, 0 0 30px #fa9d66, 0 0 40px #fa9d66;
  -moz-text-shadow: 0 0 5px #ffe2d1, 0 0 10px #fa9d66, 0 0 15px #fa9d66, 0 0 20px #fa9d66, 0 0 30px #fa9d66, 0 0 40px #fa9d66;
  -ms-text-shadow: 0 0 5px #ffe2d1, 0 0 10px #fa9d66, 0 0 15px #fa9d66, 0 0 20px #fa9d66, 0 0 30px #fa9d66, 0 0 40px #fa9d66;
  -o-text-shadow: 0 0 5px #ffe2d1, 0 0 10px #fa9d66, 0 0 15px #fa9d66, 0 0 20px #fa9d66, 0 0 30px #fa9d66, 0 0 40px #fa9d66;
  text-shadow: 0 0 5px #ffe2d1, 0 0 10px #fa9d66, 0 0 15px #fa9d66, 0 0 20px #fa9d66, 0 0 30px #fa9d66, 0 0 40px #fa9d66;
}

h4.linkedin a:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FC9C54, 0 0 30px #FC9C54, 0 0 40px #FC9C54, 0 0 50px #FC9C54, 0 0 75px #FC9C54;
    transition: all .1s ease-in-out;
}

h4.email a:hover
h4.facebook a:hover {
    transition: all .1s ease-in-out;
}

.img_contact{
  display: none;
  position: absolute;
  z-index: 0;
  opacity: .8;
  bottom: 0%;
  width: 100vw;
  height: auto;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.8)));
  mask-image: linear-gradient(10deg, rgba(0,0,0,.3), rgba(0,0,0,1));
}


.container_one.contactpage {
  background: red;
  background: -webkit-linear-gradient(white, #33273d, #003c5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #33273d, #003c5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #33273d, #003c5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #33273d, #003c5f); /* Standard syntax */
  animation: contactsky 20s infinite;
  height: 15vh;
}

@keyframes contactsky{
  0% {
  filter: hue-rotate(0);
	}
  50% {
  filter: hue-rotate(-.04turn);
	}
  100% {
  filter: hue-rotate(0);
	}
}


.totop {
	 padding: 5px 3px;
    background: none;
    color: #000;
    opacity: .5;
    font-family: 'Oswald', serif;
    letter-spacing: .2;
    font-weight: bold;
    font-size: 2vw;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 8000;
    text-shadow: 0 0 3px black;
	display:inherit;
    border-radius:50%;
    transition: all 1s;
}
.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}
