---
---

h2.button-row {
  // -webkit-perspective: 1000px;
  // -moz-perspective: 1000px;
  // perspective: 1000px;
}

h2.button-row > a {
  // margin: 0px;
  // padding: 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  // -webkit-transform: translateZ(-25px);
  // -moz-transform: translateZ(-25px);
  // -ms-transform: translateZ(-25px);
  // -o-transform: translateZ(-25px);
  // transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  position: absolute;
  align-content: center;
  // font-size: 10%;
}

h2.button-row > a::before, h2.button-row > a::after {
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 140px;
  height: 50px;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

h2.button-row > a::before {
  background-color: #000;
  color: #fff;
  // -webkit-transform: rotateY(0deg) translateZ(25px);
  // -moz-transform: rotateY(0deg) translateZ(25px);
  // -ms-transform: rotateY(0deg) translateZ(25px);
  // -o-transform: rotateY(0deg) translateZ(25px);
  // transform: rotateY(0deg) translateZ(25px);
}
h2.button-row > a::after {
  background-color: #fff;
  border-color: #000;
  color: #000;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
h2.button-row > a:hover {
  -webkit-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -o-transform: translateZ(25px) translateY(25px) rotateX(-90deg);
  transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
}
