.container_one.intro {
    width: 75vw;
    height: 47vw;
    animation-name: intromonitorsizinganimation;
    animation-timing-function: ease;
    animation-duration: 2600ms;
    animation-delay: 0s;
    transition: 2600ms all ease;
    transform-style: preserve-3d;
  }
@keyframes intromonitorsizinganimation {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
/*    width: 0vw;
    -webkit-transform: skew(-11deg);
       -moz-transform: skew(-11deg);
         -o-transform: skew(-11deg);
          -ms-transform: skew(-11deg);*/
  }
  49% {
    opacity: 0;
    transform: rotateY(90deg);
/*    width: 0vw;
    -webkit-transform: skew(-11deg);
       -moz-transform: skew(-11deg);
         -o-transform: skew(-11deg);
          -ms-transform: skew(-11deg);*/
  }

  99% {
    opacity: 1;
    transform: rotateY(0deg);
/*    width: 75vw;
    -webkit-transform: skew(0deg);
       -moz-transform: skew(0deg);
         -o-transform: skew(0deg);
          -ms-transform: skew(0deg);*/
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
/*    width: 75vw;
    -webkit-transform: skew(0deg);
       -moz-transform: skew(0deg);
         -o-transform: skew(0deg);
          -ms-transform: skew(0deg);*/
    }
}



div.trapezoiddiv {
    transform: scale(2.5); width:200px;
    top: -55px;
    position: relative;
    animation-name: introtrapezoidsizinganimation;
    animation-timing-function: ease-in-out;
    animation-duration: 2600ms;
    animation-delay: 0s;
    transition: 2600ms all ease-in-out;
  }
@keyframes introtrapezoidsizinganimation {
  0% {
    opacity: 0;
/*    -webkit-clip-path: polygon(50% 0, 0 55%, 100% 55%, 100% 40%, 24% 40%, 65% 0);*/
    transform: scale(0, 1.9);
/*    width:200px;
    -webkit-mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);
    mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);*/
  }
  49% {
    opacity: 0;
/*    -webkit-clip-path: polygon(50% 0, 0 55%, 100% 55%, 100% 40%, 24% 40%, 65% 0);*/
    transform: scale(0, 1.9);
/*    width:200px;
    -webkit-mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);
    -moz-mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);
    -oz-mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);
    mask-image: linear-gradient(to bottom left, transparent 25%, white 75%);*/
  }
  99% {
    opacity: 1;
/*    -webkit-clip-path: polygon(0 0, 0 0, 0 63%, 100% 64%, 100% 0, 57% 0);*/
    transform: scale(1.9, 1.9);
/*    width: 200px;
    -webkit-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    -moz-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    -oz-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);*/
  }
  100% {
    opacity: 1;
/*    -webkit-clip-path: polygon(0 0, 0 0, 0 63%, 100% 64%, 100% 0, 57% 0);*/
    transform: scale(1.9, 1.9);
/*    width: 200px;
    -webkit-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    -moz-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    -oz-mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);
    mask-image: linear-gradient(to bottom left, transparent 0%, white 0%);*/
    }
}

.introbiopictureanimation{
    animation-name: introprofilepicanimate;
    animation-timing-function: ease-in-out;
    animation-duration: 3200ms;
    animation-delay: 0s;
    transition: 3200ms all ease-in-out;
  }
  @keyframes introprofilepicanimate {
    0% {
      opacity: 1;
			transform: scale(1.5,1.5) translateX(-27vw) translateY(50px);
      padding-top: 15%;
    }
    35% {
      opacity: 1;
			transform: scale(1.5,1.5) translateX(-27vw) translateY(50px);
      padding-top: 15%;
    }
    55%{
      opacity: .7;
    }
    75% {
      opacity: 1;
			transform: scale(1,1) translateX(0vw) translateY(0px);
      padding-top: 0%;
    }
    100% {
      opacity: 1;
      transform: scale(1,1) translateX(0vw) translateY(0px);
      padding-top: 0%;
      }
  }

  .threebythreegridaboutme {
    color: #666666;
    display: block;
    font-family: 'Oldenbury', serif;
    font-size: 14pt;
    letter-spacing: .1em;
    line-height: 1.2;
    opacity: 1;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px 50px 20px;
  }

  td.threebythreegridaboutme.aboutmeone {
    color: #666666;
    opacity: 1;
    display: inline-block;
    width: 33%;
    font-family: 'Oldenbury', serif;
    font-size: 14pt;
    letter-spacing: .1em;
    line-height: 1.2;
    opacity: 1;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px 50px 20px;
    	animation-name: aboutmeonecss;
    	animation-timing-function: ease-in-out;
    	animation-duration: 4s;
    	animation-delay: 0s;
      animation-iteration-count: infinite;
    	transition: 4s all ease-in-out;
    }

    @keyframes aboutmeonecss {
    	0% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
  	}
    	10% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
    }
      15% {
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1.1);
      }
      20% {
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1);
      }
      25% {
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1.1);
      }
    	35%{
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1.1);
      	}
      70%{
        filter: saturate(100%);
        filter: grayscale(50%);
        transform: scale(1);
      }
      95%{
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
      }
    	100% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
    	}
    }

  td.threebythreegridaboutme.aboutmetwo {
    color: #666666;
    display: inline-block;
    width: 33%;
    font-family: 'Oldenbury', serif;
    font-size: 14pt;
    letter-spacing: .1em;
    line-height: 1.2;
    opacity: 1;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px 50px 20px;
    animation-name: aboutmetwocss;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition: 4s all ease-in-out;
    }

    @keyframes aboutmetwocss {
      0% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
        transform: rotateY(0);
  	}
    	25% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
        transform: rotateY(0);
      }
      35% {
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1.1);
        transform: rotateY(0);
    }
      45%{
        transform: rotateY(.5turn);
      }
    	55%{
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1.1);
        transform: rotateY(0);
    	}
      65%{
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1);
        transform: rotateY(0);
      }
      95%{
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
        transform: rotateY(0);
      }
    	100% {
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
        transform: rotateY(0);
    	}
  }

  td.threebythreegridaboutme.aboutmethree {
    color: #666666;
    display: inline-block;
    width: 33%;
    font-family: 'Oldenbury', serif;
    font-size: 14pt;
    letter-spacing: .1em;
    line-height: 1.2;
    opacity: 1;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px 50px 20px;
    animation-name: aboutmethreecss;
    animation-timing-function: inherit;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition: 4s all inherit;
    }

    @keyframes aboutmethreecss {
      0% {
        opacity: 1;
        filter: saturate(50%);
        filter: grayscale(0%);
        transform: scale(1);
/*        transform: rotate(.25turn);*/
/*        transform: translate(0px, 0px);*/
    	  }
        20% {
          opacity: 1;
          filter: saturate(100%);
          filter: grayscale(100%);
          transform: scale(1);
  /*        transform: translate(0px, 0px);*/
          }
      55% {
        opacity: 1;
        filter: saturate(100%);
        filter: grayscale(100%);
        transform: scale(1);
/*        transform: translate(0px, 0px);*/
        }
      70% {
          opacity: 1;
          filter: saturate(100%);
          filter: grayscale(0%);
          transform: scale(1);
/*          transform: translate(0px, 0px);*/
        }
      89% {
        opacity: 1;
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1);
/*        transform: rotate(.25turn);*/
/*        transform: translate(600px, 0px);*/
        }
      90% {
        opacity: 1;
        filter: saturate(100%);
        filter: grayscale(0%);
        transform: scale(1);
/*        transform: translate(600px, 0px);*/
        }
	    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        filter: saturate(50%);
        filter: grayscale(0%);
/*        transform: scale(1);*/
        }
  }


  /*about-me-three quarter turn:  */

  @keyframes rotateAnimation {
      0%, 15% {
          transform: rotate(0deg);
      }
      20%, 40% {
          transform: rotate(90deg);
      }
      45%, 65% {
          transform: rotate(180deg);
      }
      70%, 90% {
          transform: rotate(270deg);
      }
      95%, 100% {
          transform: rotate(360deg);
      }
  }

  .aboutmethree {
      animation: rotateAnimation 16s linear infinite;
  }



  /* @media cell phone about me 2024px
  */

  @media (max-width:2024px) {

  div.trapezoiddiv {
      transform: scale(1.9);
      width:200px;
      top: 0px;
    }

/* @media cell phone about me 600px
*/

@media (max-width:600px) {

  td.threebythreegridaboutme.aboutmeone {
    opacity: 1;
    width: 100%;
    display: block;
    }
  td.threebythreegridaboutme.aboutmetwo {
    opacity: 1;
    width: 100%;
    display: block;
    }
  td.threebythreegridaboutme.aboutmethree {
    opacity: 1;
    width: 100%;
    display: block;
  }

  div.container_one.intro {
    width: 80vw;
    height: 75vh;
    animation-name: none;
    margin-bottom: 35px;
    margin-top: 30px;
  /*  margin: 20px 0px 20px 0px;*/
    }

  td.introbiopictureanimation{
        animation-name: introprofilepicanimate;
        animation-timing-function: ease-in-out;
        animation-duration: 3200ms;
        animation-delay: 0s;
        transition: 3200ms all ease-in-out;
        transform: scale(1,1) translateX(-50vw) translateY(55vh);
        padding-top: 0%;
        z-index: 10000;
        position: absolute;
      }
      @keyframes introprofilepicanimate {
        0% {
          opacity: 1;
    			transform: scale(1.5,1.5) translateX(-45vw) translateY(50px);
          padding-top: 15%;
        }
        35% {
          opacity: 1;
    			transform: scale(1.5,1.5) translateX(-45vw) translateY(50px);
          padding-top: 15%;
        }
        55%{
          opacity: .7;
        }
        75% {
          opacity: 1;
    			transform: scale(1,1) translateX(-55vw) translateY(55vh);
          padding-top: 0%;
        }
        100% {
          opacity: 1;
          transform: scale(1,1) translateX(-55vw) translateY(55vh);
          padding-top: 0%;
          }
      }

}
