/*@import '../_sass/_reset.scss';
@import '../_sass/_flipButton.scss';*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/*CSS EDWIN BELOW*/
.img_img{
  width: 100vw;
}

.container_one{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.container_two{
  margin: auto;
  position: relative;
  zoom: 90%;
}

h1 {
  font-family: robotoSlab;
  font-size: 9vw;
  font-weight: bold;
  color: #808285;
  letter-spacing: .07em;
  text-align: center;
  /*text-shadow: 0px 0px 50px grey;*/
  justify-content: center;
}

h1 a,
h1 a:visited,
h1 a:link,
h1 a:active{
  text-decoration: none;
  color: #808285;
  /*opacity: .9;*/
}

h1 a:hover,
h1:hover,
h1.hover_effect
{
  color: white;
  text-shadow: 0px 0px 50px grey;
  transition: text-shadow 0.25s ease;
  transition: color .5s ease;
}

h1.edwinname{
  margin-top: -10%;
}

hr {
  width:90%;
  height: 5px;
  opacity: .6;
  box-shadow: 2px 0px 20px #808285;
  margin-top: 6%;
  margin-bottom: 15%;
  justify-content: center
}

.container_three{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  width: 100%;
  height: 100px;
  margin: -10%;
}

h2.button-row {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .15em;
  font-size: 1vw;
  padding: 3vw 3vw 3vw 3vw;
  display: block;

}

h2.button-row > a {
  margin: 0px;
  padding: 0px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  position: absolute;
  align-content: center;
}

h2.button-row > a::before, h2.button-row > a::after {
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 10vw;
  height: 50px;
  border: 5px solid #808285;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

h2.button-row > a::before {
  background-color: #808285;
  color: #fff;
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}

h2.button-row > a::after {
  background-color: #fff;
  /*border-color: #808285;
  color: #808285;*/
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
h2.button-row > a:hover {
  -webkit-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
  -o-transform: translateZ(25px) translateY(25px) rotateX(-90deg);
  transform: translateZ(-25px) translateY(25px) rotateX(-90deg);
}

h2.center a::after {
    border-color: #39b5d8;
    color: #39b5d8;
    /*background: black;*/
    /*background: transparent;*/
    opacity: 1;
    /*transition: all .1s ease-in-out;*/
}

h2.left a::after {
    border-color: salmon;
    color: salmon;
    /*background: black;*/
    opacity: 1;
    /*background: transparent;*/
    /*transition: all .1s ease-in-out;*/
}

h2.right a::after {
    border-color: yellow;
    background: black;
    color: yellow;
    opacity: 1;
    /*text-shadow: 0px 0px 1px grey;*/
    /*background: transparent;*/
    /*transition: all .1s ease-in-out;*/
}


/*flash*/
/*flash*/
/*flash*/
h2.right a::before {
  -webkit-animation: color-change 1.5s infinite,font-size-change 1.5s infinite, text-shadow-change 1.5s infinite, background-color-change 1.5s infinite;
  -moz-animation: color-change 1.5s infinite,font-size-change 1.5s infinite, text-shadow-change 1.5s infinite, background-color-change 1.5s infinite;
  -o-animation: color-change 1.5s infinite,font-size-change 1.5s infinite, text-shadow-change 1.5s infinite, background-color-change 1.5s infinite;
  -ms-animation: color-change 1.5s infinite,font-size-change 1.5s infinite, text-shadow-change 1.5s infinite, background-color-change 1.5s infinite;
  animation: color-change 1.5s infinite,font-size-change 1.5s infinite, text-shadow-change 1.5s infinite, background-color-change 1.5s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: yellow; }
    100% { color: white; }
}
@-moz-keyframes color-change {
  0% { color: white; }
  50% { color: yellow; }
  100% { color: white; }
}
@-ms-keyframes color-change {
  0% { color: white; }
  50% { color: yellow; }
  100% { color: white; }
}
@-o-keyframes color-change {
  0% { color: white; }
  50% { color: yellow; }
  100% { color: white; }
}
@keyframes color-change {
  0% { color: white; }
  50% { color: yellow; }
  100% { color: white; }
}

@-webkit-keyframes font-size-change {
    0% { font-size: 1em; }
    50% { font-size: 1.01em; }
    100% { font-size: 1em; }
}
@-moz-keyframes font-size-change {
  0% { font-size: 1em; }
  50% { font-size: 1.01em; }
  100% { font-size: 1em; }
}
@-ms-keyframes font-size-change {
  0% { font-size: 1em; }
  50% { font-size: 1.01em; }
  100% { font-size: 1em; }
}
@-o-keyframes font-size-change {
  0% { font-size: 1em; }
  50% { font-size: 1.01em; }
  100% { font-size: 1em; }
}
@keyframes font-size-change {
  0% { font-size: 1em; }
  50% { font-size: 1.01em; }
  100% { font-size: 1em; }
}

@-webkit-keyframes text-shadow-change {
    0% { text-shadow: 0px 0px 0px yellow; }
    50% { text-shadow: 0px 0px 1px yellow; }
    100% { text-shadow: 0px 0px 0px yellow; }
}
@-moz-keyframes text-shadow-change {
  0% { text-shadow: 0px 0px 0px yellow; }
  50% { text-shadow: 0px 0px 1px yellow; }
  100% { text-shadow: 0px 0px 0px yellow; }
}
@-ms-keyframes text-shadow-change {
  0% { text-shadow: 0px 0px 0px yellow; }
  50% { text-shadow: 0px 0px 1px yellow; }
  100% { text-shadow: 0px 0px 0px yellow; }
}
@-o-keyframes text-shadow-change {
  0% { text-shadow: 0px 0px 0px yellow; }
  50% { text-shadow: 0px 0px 1px yellow; }
  100% { text-shadow: 0px 0px 0px yellow; }
}
@keyframes text-shadow-change {
  0% { text-shadow: 0px 0px 0px yellow; }
  50% { text-shadow: 0px 0px 1px yellow; }
  100% { text-shadow: 0px 0px 0px yellow; }
}


h2.right_right a::after {
    border-color: #a941f4;
    color: #a941f4;
    /*background: black;*/
    opacity: 1;
    /*background: transparent;*/
    /*transition: all .1s ease-in-out;*/
}

h2.right_right a::after {
    border-color: #6464FF;
    color: #6464FF;
    opacity: 1;
    /*background: transparent;*/
    /*transition: all .1s ease-in-out;*/
}

#toTop {
    padding: 5px 3px;
    background: none;
    color: darkgrey;
    opacity: .5;
    font-family: 'Oswald', serif;
    letter-spacing: .2;
    font-weight: bold;
    font-size: 2vw;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
    z-index: 5000;
    text-shadow: 0 0 3px black;
}

#toTop a,
#toTop a:visited,
#toTop a:hover,
#toTop a:link,
#toTop a:active{
  text-decoration: none;
  color: ivory;
  opacity: .5;
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;
}
