/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/*CSS RESET ABOVE*/
/*CSS EDWIN BELOW*/

.img_img{
  width: 100vw;
}

.container_one{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /*min-width: 1000px;*/
}

.container_two{
  margin: auto;
}

.container_three{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: 95%;
  margin: auto;
}

h1{
  font-family: 'Roboto Slab', serif;
  color: #2f3037;
  opacity: .8;
  font-size: 9vw;
  text-align: center;
  text-shadow: 0px 0px 50px grey;
  letter-spacing: .07em;
  font-weight: bold;
}

h1 a,
h1 a:visited,
h1 a:link,
h1 a:active{
  text-decoration: none;
  color: #2f3037;
  opacity: .9;
  transition: all .1s ease;
}

h1 a:hover,
h1:hover{
  color: white;
  text-shadow: 0px 0px 50px black;
  transform: scale(1.02);
}

hr {
  width:95%; opacity: .6; box-shadow: 2px 0px 20px black;
  margin-top: 4%;
  margin-bottom: 8%;
}

h2 a,
h2 > a:visited,
h2 > a:link,
h2 > a:active{
  // display: inline-block;
  background-color:#2f3037;
  opacity: .6;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: white;
  transition: all ease-in-out;
  float: left;
  padding: 5px 11px 5px 11px;
}

h2 a:hover,
h2:hover{
  color: white;
  text-shadow: 0px 0px 2px black;
  transform: scale(1.2);
}

h2.center a:hover {
    color: yellow;
    background: transparent;
    opacity: 1;
    transition: all .1s ease-in-out;
}

h2.left a:hover {
    color: #ff3c00;
    background: transparent;
    opacity: 1;
    transition: all .1s ease-in-out;
}

h2.right a:hover {
    color: #00ffba;
    opacity: 1;
    background: transparent;
    transition: all .1s ease-in-out;

}

h2.right_right a:hover {
    color: salmon;
    opacity: 1;
    background: transparent;
    transition: all .1s ease-in-out;

}

@media (max-width:900px){

  .container_one{
    width: 100%;
    margin: auto;
  }

  h1{
    font-size: 13vw;
  }
  .container_two{
    width: 70%;
    margin: auto;
  }

  .container_three{
    flex-direction: column;
    width: 90%;
    align-content: center;
    /*align-items: center;*/
 }

  h2.center > a,
  h2.left > a,
  h2.right > a,
  h2.right_right > a{
    width: 90%;
    margin-bottom: 20px;
    font-size: 3vw;
  }

}
