div.img_relative.labtop{
  height: 100vh;
}


@media (max-width:1280px){

  .col-md-10{
    width:80%;
  }

  .container_nut{
    width:100%;
  }

  img.resume_pdf{
    height: 100%;
    width: 100%;
  }

  p#hello{
    margin-top: 30%;
    padding-left: 10%;
    padding-right:10%;
  }

  .i_believe{
    padding-left: 20%;
    padding-right:20%;
    font-size: 1.5vw;
  }

  .medialabtopnone{
      display: inherit;
  }

  div.img_relative.labtop{
    height: 125vh;
  }

  .container_two{
    zoom: 110%;
  }

  h1 {
    /*font-weight: 600;*/
  }

  .portfolio_images{
    width: 90%;
    margin: auto;
    zoom: 105%;
    overflow-x: hidden;
  }

  .container_contacts{
    zoom: 120%;
    margin-top: -10%;
  }

}

/*ipad horizontal*/

@media (max-width:1024px){

  h1 a:hover,
  h1:hover{
    color: white;
    -webkit-text-shadow: 0px 0px 10px grey;
    -moz-text-shadow: 0px 0px 10px grey;
    -ms-text-shadow: 0px 0px 10px grey;
    -o-text-shadow: 0px 0px 10px grey;
    text-shadow: 0px 0px 10px grey;
    -webkit-transition: text-shadow 0.25s ease;
    -moz-transition: text-shadow 0.25s ease;
    -ms-transition: text-shadow 0.25s ease;
    -o-transition: text-shadow 0.25s ease;
    transition: text-shadow 0.25s ease;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .container_two{
      /*width: 110%;*/
  }

  hr {
    box-shadow: 2px 0px 10px #808285;
  }

  h1 {
    font-size: 10vw;
  }

  h2.button-row {
    font-size: 1.75vw;
  }

}






@media (max-width:900px){

  h1{
    font-size: 20vw;
    width: 100%;
  }

  .container_one{
    display: block;
    margin-top: 30%;
  }

  .container_two{
    width: 90vw;
    position: relative;
    zoom: 90%;
  }

  .container_three{
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
    height: 50px;
  }

  hr {
    width:90%;
    opacity: .6;
    box-shadow: 2px 0px 20px #808285;
    margin-top: 2%;
    margin-bottom: 8%;
    justify-content: center
  }
  h2.button-row > a::before, h2.button-row > a::after {
    width: 150px;
    font-size: 5vw;
    position: relative;
    display: block;
    padding: 10px;
    margin: auto;
  }

  h2 a,
  h2 a:visited,
  h2 a:link,
  h2 a:active{
    text-decoration: none;
  }

  h2.button-row > a {
    position: relative;
    height: 50px;
  }

  h2.left.button-row, h2.right.button-row, h2.center.button-row, h2.right_right.button-row{
    height: 50px;
  }

}
