div.img_relative.labtop{
  height: 100vh;
}


@media (max-width:1280px){

  .col-md-10{
    width:80%;
  }

  .container_nut{
    width:100%;
  }

  img.resume_pdf{
    height: 100%;
    width: 100%;
  }

  p#hello{
    margin-top: 30%;
    padding-left: 10%;
    padding-right:10%;
  }

  .i_believe{
    padding-left: 20%;
    padding-right:20%;
    font-size: 1.5vw;
  }

  .medialabtopnone{
      display: inherit;
  }

  div.img_relative.labtop{
    height: 125vh;
  }

  .container_two{
    zoom: 110%;
  }

  h1 {
    font-weight: lighter;
  }

  .portfolio_images{
    width: 90%;
    margin: auto;
    zoom: 105%;
    overflow-x: hidden;
  }

  .container_contacts{
    zoom: 150%;
    margin-top: -10%;
  }

}







@media (max-width:900px){

  h1{
    font-size: 20vw;
    width: 100%;
  }

  .container_one{
    display: block;
    margin-top: 30%;
  }

  .container_two{
    width: 90vw;
    position: relative;
    zoom: 90%;
  }

  .container_three{
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
    height: 50px;
  }

  hr {
    width:90%;
    opacity: .6;
    box-shadow: 2px 0px 20px #808285;
    margin-top: 2%;
    margin-bottom: 8%;
    justify-content: center
  }
  h2.button-row > a::before, h2.button-row > a::after {
    width: 150px;
    font-size: 5vw;
    position: relative;
    display: block;
    padding: 10px;
    margin: auto;
  }

  h2 a,
  h2 a:visited,
  h2 a:link,
  h2 a:active{
    text-decoration: none;
  }

  h2.button-row > a {
    position: relative;
    height: 50px;
  }

  h2.left.button-row, h2.right.button-row, h2.center.button-row, h2.right_right.button-row{
    height: 50px;
  }

}
