div.img_relative.labtop{
  height: 100vh;
}


@media (max-width:1280px){

  .col-md-10{
    width:80%;
  }

  .container_nut{
    width:100%;
  }

  img.resume_pdf{
    height: 100%;
    width: 100%;
  }

  p#hello{
    margin-top: 30%;
    padding-left: 10%;
    padding-right:10%;
  }

  .i_believe{
    padding-left: 20%;
    padding-right:20%;
    font-size: 1.5vw;
  }

  .medialabtopnone{
      display: inherit;
  }

  div.img_relative.labtop{
    height: 125vh;
  }

  .container_two{
    zoom: 110%;
  }

  h1 {
    /*font-weight: 600;*/
  }

  .portfolio_images{
    width: 90%;
    margin: auto;
    zoom: 105%;
    overflow-x: hidden;
  }

  .container_contacts{
    zoom: 120%;
    margin-top: -10%;
  }

  h4 a,
  h4 > a:visited,
  h4 > a:link,
  h4 > a:active{
    padding: 10px 40px 20px 40px;
    opacity: 1;
    text-transform: lowercase;
  }

}

/*ipad horizontal*/

@media (max-width:1024px){

  h1 a:hover,
  h1:hover{
    color: white;
    -webkit-text-shadow: 0px 0px 10px grey;
    -moz-text-shadow: 0px 0px 10px grey;
    -ms-text-shadow: 0px 0px 10px grey;
    -o-text-shadow: 0px 0px 10px grey;
    text-shadow: 0px 0px 10px grey;
    -webkit-transition: text-shadow 0.25s ease;
    -moz-transition: text-shadow 0.25s ease;
    -ms-transition: text-shadow 0.25s ease;
    -o-transition: text-shadow 0.25s ease;
    transition: text-shadow 0.25s ease;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  hr {
    box-shadow: 2px 0px 10px #808285;
  }

  h1 {
    font-size: 12vw;
  }

  h2.button-row {
    font-size: 1.75vw;
  }

  h2.button-row > a::before, h2.button-row > a::after {
    width: 13vw;
    height: 40px;
  }

  h2.button-row > a {
    -webkit-transform: translateZ(-20px);
    -moz-transform: translateZ(-20px);
    -ms-transform: translateZ(-20px);
    -o-transform: translateZ(-20px);
    transform: translateZ(-20px);
  }

  h2.button-row > a::before {
    background-color: #808285;
    color: #fff;
    -webkit-transform: rotateY(0deg) translateZ(20px);
    -moz-transform: rotateY(0deg) translateZ(20px);
    -ms-transform: rotateY(0deg) translateZ(20px);
    -o-transform: rotateY(0deg) translateZ(20px);
    transform: rotateY(0deg) translateZ(20px);
  }

  h2.button-row > a::after {
    background-color: #fff;
    /*border-color: #808285;
    color: #808285;*/
    -webkit-transform: rotateX(90deg) translateZ(20px);
    -moz-transform: rotateX(90deg) translateZ(20px);
    -ms-transform: rotateX(90deg) translateZ(20px);
    -o-transform: rotateX(90deg) translateZ(20px);
    transform: rotateX(90deg) translateZ(20px);
  }
  h2.button-row > a:hover {
    -webkit-transform: translateZ(-20px) translateY(20px) rotateX(-90deg);
    -moz-transform: translateZ(-20px) translateY(20px) rotateX(-90deg);
    -ms-transform: translateZ(-20px) translateY(20px) rotateX(-90deg);
    -o-transform: translateZ(20px) translateY(20px) rotateX(-90deg);
    transform: translateZ(-20px) translateY(20px) rotateX(-90deg);
  }

  div.img_relative.labtop{
    height: 100vh;
  }

  .col-md-10{
    width:65%;
  }

  p#hello{
    margin-top: 25%;
    padding-left: 10%;
    padding-right:10%;
  }

  .i_believe{
    padding-left: 15%;
    padding-right:15%;
    font-size: 1.5vw;
  }

  .img_plant{
    bottom: 3%;
    left: 22%;
  }

  .img_labtop{
    zoom: 23%;;
    bottom: -15%;
    left: 0%;
    /*transform: rotate(-10deg);*/
    z-index: 5000;
  }

  .portfolio_images{
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
  }

  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }

  /*.container_carousel{
    width: 120%;
    margin-left: -10%;
    overflow: hidden;
    clip: rect(10%, 100vw, 100vh, 10%);
  }*/

  h4 a,
  h4 > a:visited,
  h4 > a:link,
  h4 > a:active{
    padding: 10px 30px 20px 30px;
    opacity: 1;
    font-size: 3vw;
    text-transform: lowercase;
  }

  #toTop{
    letter-spacing: .3;
    font-weight: bold;
    font-size: 4vw;
  }



}






@media (max-width:900px){

  h1{
    font-size: 20vw;
    width: 100%;
  }

  .container_one{
    display: block;
    margin-top: 30%;
  }

  .container_two{
    width: 90vw;
    position: relative;
    zoom: 90%;
  }

  .container_three{
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
    height: 50px;
  }

  hr {
    width:90%;
    opacity: .6;
    box-shadow: 2px 0px 20px #808285;
    margin-top: 2%;
    margin-bottom: 8%;
    justify-content: center
  }
  h2.button-row > a::before, h2.button-row > a::after {
    width: 150px;
    font-size: 5vw;
    position: relative;
    display: block;
    padding: 10px;
    margin: auto;
  }

  h2 a,
  h2 a:visited,
  h2 a:link,
  h2 a:active{
    text-decoration: none;
  }

  h2.button-row > a {
    position: relative;
    height: 50px;
  }

  h2.left.button-row, h2.right.button-row, h2.center.button-row, h2.right_right.button-row{
    height: 50px;
  }

}
