.imac.displaynone{
  display: none;
}

img.portfolio_images {
	width: 65%;
	height: auto;
}

.portfolio_images-mobile {
	display: none;
}	







/*labtop*/
@media (max-width:5480px){

  .container_one.intro{
	  width: 100vw;
	  height: 100vh;
	}

	
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	width: 100%; max-width: 100%;
	}
	

.portfolio-nav	{
		position: absolute;
		right: 3%;
		top: 25vh;
}
	
	
	.port-heading {
		font-size:16pt;
		font-weight: bold;
		text-align: right;
		font-family: 'Lato',sans-serif; 
		padding: 20px 25px 20px; 
		line-height: 1.25;
		background-color: white;
		color: #333333
	}	
	
	
	.sub-port-heading {
		font-size:14pt; 
		font-weight: normal;
		text-align: right;
		font-family: 'Lato', sans-serif; 
		background-color: white;
		color: #333333;
		padding: 0px 20px;
	}	

	
  h1 a,
  h1 a:visited,
  h1 a:link,
  h1 a:active{
    /*color: white;*/
    color: transparent;
    text-shadow: none;
    opacity: 1;
    background-image: url(../images/fractal1.jpg);
    background-size: 100% 20vh;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    /*text-shadow: 0px 0px 50px #3a75bb;*/
    -webkit-transition: background-image 1s ease;
    -moz-transition: background-image 1s ease;
    -ms-transition: background-image 1s ease;
    -o-transition: background-image 1s ease;
    transition: background-image 1s ease;
  }

  h1 a:hover,
  h1:hover{
    color: transparent;
    text-shadow: none;
    opacity: 1;
    background-image: url(../images/fractal2.jpg);
    background-size: 100% 20vh;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-image 2s ease;
    z-index: 1000;
  }

  .img_introcloud1{
    margin-top: 3%;
    margin-left: -6%;
  }

  .img_introcloud2{
    top: 0%;
  }

  h1 {
    font-size: 8vw;
  }



  hr {
    height: 2px;
    box-shadow: none;
    background-color: white;
    opacity: .9;
  }

  h2.button-row {
    letter-spacing: .15em;
    font-size: 1vw;
    display: block;
  }

  h2.button-row > a::before, h2.button-row > a::after {
    width: 10vw;
    height: 35px;
    border: .5px solid inherit;
  }

  h2.button-row > a::before {
    -webkit-transform: rotateY(0deg) translateZ(17.5px);
    -moz-transform: rotateY(0deg) translateZ(17.5px);
    -ms-transform: rotateY(0deg) translateZ(17.5px);
    -o-transform: rotateY(0deg) translateZ(17.5px);
    transform: rotateY(0deg) translateZ(17.5px);
  }

  h2.button-row > a::after {
    -webkit-transform: rotateX(90deg) translateZ(17.5px);
    -moz-transform: rotateX(90deg) translateZ(17.5px);
    -ms-transform: rotateX(90deg) translateZ(17.5px);
    -o-transform: rotateX(90deg) translateZ(17.5px);
    transform: rotateX(90deg) translateZ(17.5px);
  }
  h2.button-row > a:hover {
    -webkit-transform: translateZ(-17.5px) translateY(17.5px) rotateX(-90deg);
    -moz-transform: translateZ(-17.5px) translateY(17.5px) rotateX(-90deg);
    -ms-transform: translateZ(-17.5px) translateY(17.5px) rotateX(-90deg);
    -o-transform: translateZ(17.5px) translateY(17.5px) rotateX(-90deg);
    transform: translateZ(-17.5px) translateY(17.5px) rotateX(-90deg);
  }

  .col-md-10{
    width:80%;
  }

  .container_nut{
    width:100%;
  }

	
.img_plant{
	  zoom: 80%;
  }
	
.img_labtop{
	  zoom: 80%;
	bottom: -20%;
  }


.resume_pdf{
	width: 65%;
	}
	
  .hello{
    margin-top: -7%;
    padding-left: 10%;
    padding-right:10%;
	text-align: center
  }

  .i_believe{
    padding-left: 20%;
    padding-right:20%;
    font-size: 1.25vw;
    opacity: .7;
 }



  .medialabtopnone{
      display: inherit;
  }

  div.img_relative.labtop{
    height: 125vh;
  }

  .carousel-inner{
    width: auto;
	  height: 65vh;
    /*margin-left: 7.25%;*/
    padding: 0px;
  }
	
 .carousel-inner.mobile{
    width: auto;
	  height: 75vh;
    /*margin-left: 7.25%;*/
    padding: 0px;
  }
	
	.carousel-control {
		opacity: .6;
	}

  .container_contacts{
    zoom: 85%;
	 margin-top: 0;
  }

  h4.email a{
    font-size: 1.6vw;
    margin-left: 0%;
	  margin-top:3%;
  }

  h4.linkedin{
    margin-right: -5%;
  }

  h4.facebook{
    margin-right: -5%;
  }

  h5.instagram{
    margin-right: 9%;
  }

  #take_me_there_iphone{
    display: none;
  }

  #take_me_there{
    font-size: 1.25vw;
    font-family: aller;
    width: 30%;
    margin: 0px auto 0px auto;
	}

  .rendezverbage{
    font-size: 1.0vw;
    margin: 2% auto 8% auto;
    width: 90%;
  }
	
	img.portfolio_images {
		display: inherit;
		width: 45%;
		height: auto;
	}

	.portfolio_images-mobile {
		display: none;
	}	

}


@media (max-width:2024px){


	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		width: 50%; max-width: 50%;
	}

	div.img_relative.labtop{
		height: 180vh;
	}
	
	
	.portfolio-nav	{
		right: 3%;
	}
	
  h1 a:hover,
  h1:hover{
    font-size: 9vw;
  }

  hr {
    height: 2.5px;
  }

  h1 {
    font-size: 9vw;
  }

  h2.button-row {
    letter-spacing: .15em;
    font-size: 1.25vw;
    display: block;
  }

  h2.button-row > a::before, h2.button-row > a::after {
    width: 11vw;
    height: 35px;
  }

  div.img_relative.labtop{
    height: 100vh;
  }

  .col-md-10{
    width: 65%;
  }
	
.img_plant{
	  zoom: 50%;
  }
	
.img_labtop{
	  zoom: 50%;
  }

  p#hello{
    margin-top: 22%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .i_believe{
    padding-left: 1%;
    padding-right: 15%;
    font-size: 2vw;
  }

.resume_pdf {
		widows: 80%;
	}

  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }


  h4  a,
  h4  > a:visited,
  h4  > a:link,
  h4  > a:active{
    padding: 20px 30px 20px 30px;
    opacity: 1;
    font-size: 1.75vw;
    text-transform: lowercase;
  }

  #carousel{
    zoom: 100%;
  }
	
	  .totop{
    letter-spacing: .3;
    font-weight: bold;
    font-size: 2.5vw;
	  font-color: #000;
	display: inherit;
	bottom: 7%;
    right: 5%;
  }

	.portfolio_images {
		display: inherit;
		width: 35%;
		height: auto;
	}
	

}



/*ipad horizontal*/

@media (max-width:1024px){

	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		width: 90%; max-width: 90%;
	}
	
	 .carousel-inner{
    height: 120vh;
  }

}

/*ipad view vertical*/

@media (max-width:768px){
	
	.port-heading{
		font-size:14pt; 
		font-weight: bold; 
		text-align: left; 
		font-family: 'Lato', sans-serif; 
		padding: 20px 10px 20px;
	}
	
	 .sub-port-heading {
		font-size:12pt; 
		font-weight: normal;
		text-align: left;
		font-family: 'Lato', sans-serif; 
		background-color: white;
		color: #333333;
		padding: 0px 20px;
	}

	.portfolio_images {
		display: none;
		width: 50%;
	}	
	
	.portfolio_images-mobile {
		display: inherit;
	}	

  .ipad.displaynone{
    display: none;
  }

  div.img_relative.labtop{
    height: 140vh;
  }

  .imac.displaynone{
    display: inherit;
  }

  p#hello{
    margin-top: 20%;
    padding-left: 5%;
    padding-right:5%;
    text-align: right;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1.25;
  }

  .i_believe{
    padding-top: 2%;
    padding-left: 40%;
    padding-right:5%;
    padding-bottom: 5%;
    font-size: 2.5vw;
    text-align: right;
    font-weight: lighter;
    line-height: 1.75;
  }

  .medialabtopnone{
    display: none;
  }


  .quote.embossed.container_two{
    zoom: 180%;
    padding-left: 100px;
    padding-right: 100px;
	  margin: auto;
	  left: -40%;
  }


  .container_one.contactpage{
    overflow: hidden;
    display: block;
  }

  .container-fluid.ninetywidth{
    /*transform: rotate(-90deg);*/
    max-width: 1080px;
	max-height: 1080px;
	overflow: hidden;

  }

  #carousel{
    overflow: hidden;
  }
	
	#carouselmobile{
    overflow: hidden;
  }

  .carousel-inner{
    height: 75vh;
  }

  .carousel-control {
		opacity: 0;
	}

  .img_contact{
    zoom: 300%;
    margin-left: -70%;
  }

  .container_contacts{
    display: block;
    margin-left: 0%;
    margin-top: 15%;
    margin-bottom: 20%;
    zoom: 140%;
    width: 75%;
  }

  h4.email {
    position: relative;
    top: 0%;
    left: 0%;
    font-size: 150%;
  }

  .container_two.contact{
    width: 100%;
    margin-left: 0%;
  }

  .totop{
   letter-spacing: .3;
	display: inherit;
   font-weight: bold;
   font-size: 4vw;
	  bottom: 1%;
  }



  .carolcarolcon{
      width: 100vw;
      height: 100vh;
      /*overflow: hidden;*/
  }

}

/*iphoneplus vertical*/

@media (max-width:500px){
	
	.portfolio-nav	{
		position: absolute;
		left: 2%;
		bottom: 0%;
	}

  .container_one.intro{
	width: 100vw;
    height: 65vh;
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    vertical-align: middle;
    overflow: hidden;
	background: 50vh;
  }


.container_two{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    vertical-align: middle;
	width: 100vw;
    height: auto;
  }	
	
.container_three{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    vertical-align: middle;
	width: 45vw;
    height: 225px;
  }	
	
  .img_intrograss{
    position: absolute;
    z-index: 0;
    opacity: 1;
    bottom: 0;
    height: auto;
  }

  .img_introcloud1{
    /*position: absolute;
    z-index: 0;
    opacity: 1;
    top: 5%;
    left:0;
    width: 35vw;
    zoom: 70%;
    height: auto;
    animation: cloud1 500s linear;
    transition: ease;*/
    display: none;
  }

  .img_introcloud2{
    position: absolute;
    z-index: 0;
    opacity: 1;
    top: 20%;
    width: 75vw;
    height: auto;
    animation: cloud2 100s linear;
	}

@keyframes cloud2{from {left: -67vw;} to {left: 100vw;}}
@-webkit-keyframes cloud2{0% {left: -67vw;} 100% {left: 100vw;}}

	
  .img_introcloud3{
    position: absolute;
    z-index: 0;
    opacity: 1;
    top: 3%;
    right:0;
    width: 35vw;
    height: auto;
    animation: cloud3 500s linear;
  }

	@keyframes cloud3{0% {right: 0%;} 100% {right: -100vw;}}

	h1 {
    font-size: 12vw;
    line-height: 1.15;
  }
	
	h1.edwinname {
    font-size: 12vw;
    line-height: 1.15;
	margin-top: -20px;
	margin-bottom: 30px;
  }

  h2.left.button-row{
	font-size: 4vw;
    margin-left: -5vw;  }

  h2.right_right.button-row{
	font-size: 4vw;
    margin-left: 0%;
  }

h2.button-row{
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .15em;
    font-size: 4vw;
    font-weight: bold;
    display: block;
	width: 35vw;
	margin-left: -5vw;  
	}
	
h2.button-row > a::before, h2.button-row > a::after{
		width: 40vw;
		}


	
div.img_relative.labtop{
    height: 100vh;
  }

  p#hello{
    margin-top: 0%;
  }

 .img_labtop{
    top: 0px;
    overflow:hidden;
	  transform: scaleY(-1);
	 zoom: 20%;
  }

  .img_plant{
    top: 2%;
	  zoom: 20%;
	  left: 17%;
  }

  .resume_pdf{
    width: 99%;
  }



  h4  a,
  h4  > a:visited,
  h4  > a:link,
  h4  > a:active{
    /*padding: 10px 20px 20px 20px;*/
    opacity: 1;
    font-size: 5vw;
    text-transform: lowercase;
  }

	
  .container_contacts{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    vertical-align: middle;
    height: 250px;
    width: 100%;
}



 .container-fluid.ninetywidth{
	 width: 100vw;
  }

  .rendezlogo{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    font-size: 8vw;
    padding: 3%;
	  border-top-right-radius: 20px;
	  	  border-bottom-right-radius: 20px;
 }

 .row.rendez{
   margin-top: 23%;
 }

 .img_rendez{
   width: 100vw;
   height: auto;
 }

 .col-md-6.img{
   height: 30vh;
 }

 .col-md-6.rendezdes{
   height: 57vh;
 }

 .rendezverbage{
   font-size: 3.25vw;
 }



 #take_me_there_iphone{
	 display: none;}
/*display: inherit;
   font-size: 3.5vw;
   width: 42%;
   font-family: aller;
   padding: 10px;
   border: 1px solid green;
   margin: -15px auto 10px auto;
   text-align: center;
   color: white;
   letter-spacing: 1.1;
   border-radius: 20px;
	 background: green;
 }*/

 #take_me_there{
	 display: none;}
/*font-size: 3.5vw;
   width: 42%;
   font-family: aller;
   padding: 10px;
   border: 1px solid green; */

 #take_me_there_iphone:hover,
 #take_me_there:hover,
 .rendeztake.take_me_there a:hover{
	 display: none;}
	 /*border: 1px solid green;}*/
	
#labtopresumewidth {
	margin-left: 1vw;

	}

	.col-md-12 {
		padding-left: 1px;
	padding-right: 1px;
	}
	
	
h4.email h5{
	position: relative;
	margin: auto;
	left: 0vw;
	top:90%;
   transition: all .1s ease-in-out;
	}

h4.email a{
    margin-left: 0px;
	display: none;
  }
	
	
  h4.linkedin{
    margin-right: 0%;
	transition: all .1s ease-in-out;
  }

  h4.facebook{
    margin-right: 0%;
	transition: all .1s ease-in-out;

  }

  h4.instagram{
    margin-right: 0%;
	/*transition: all .1s ease-in-out;*/
  }	
	

.container_one.contactpage{
    overflow: hidden;
    display: block;
	height: 55vh;
  }	
	
  .container_two.contact{
    width: 100%;
    margin-left: 0%;
	  
  }
	
.img_contact{
	transform: scale(1);
  }

}



