.container_nut{
  width: 80%;
  margin: auto;
}

.container-fluid.nut{
  width: 100%;
}

.container_nut_wood_images{
  position: relative;
}

.img_relative{
  position: relative;
  display: flex;
}

.img_absolute{
  position: absolute;
}

.img_plant{
  bottom: 15%;
  left: 25%;
  z-index: 2000;
}

.img_labtop{
	z-index: 1000;
}

.resume_pdf{
  text-align: right;
	height: auto;
  box-shadow: 6px 6px 6px black;
  -webkit-transform:scale(1); /* Safari and Chrome */
  -moz-transform:scale(1); /* Firefox */
  -ms-transform:scale(1); /* IE 9 */
  -o-transform:scale(1); /* Opera */
   transform:scale(1);
   transition: transform .3s;
  transition-timing-function: ease-in-out;
}

div.img_relative.labtop{
  height: 100vh;
  z-index: 6000;
}

img.resume_pdf:hover{
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
   transition: transform .3s;
   transition-timing-function: ease-in-out;
}

.row.nut{
  display: flex;
  margin: auto;
  vertical-align: middle;
}

.hello{
  /*font-family: 'Cabin Sketch', cursive;*/
  color: white;
  font-size: 4vw;
  text-shadow: 2px 2px 10px black;
  font-style: italic;
}

.i_believe{
  font-family: 'Lato', serif;
  color: white;
  font-size: 1vw;
  letter-spacing: .1em;
  line-height: 2.5;
}

.italic{
  font-style: italic;
}
