@font-face{
  font-family: aller;
  src: url(Aller_rg.ttf)
}

@font-face{
  font-family: quotefont;
  src: url(pertibd.ttf)
}

@font-face{
  font-family: robotoSlab;
  src: url(RobotoSlab-Regular.ttf)
}

@font-face{
  font-family: coustard;
  src: url(Coustard-Regular.ttf)
}

h1.wood_shy > a{
  color: yellow;
  background-color: black;
  border: 6%;
  border-color: yellow;
}

.embossed{
  color: #333;
  zoom: 90%;
}

p#hello, .i_believe{
  text-align: center;
}

.quote{
  font-size: 5vw;
  font-family: aller;
  line-height: 2.5;
  width: 60%;
  font-weight: bold;
  color: white;
  text-align: center;
}

.elon_musk{
  font-size: 3vw;
  font-family: aller;
  line-height: 2.5;
  padding: 5% 7% 0 0;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: right;
  text-shadow: none;
}

.container_relative{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.quote_container{
  position: absolute;
}

.quote.quotezero{
    color: #fbff96;
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;*/
  }

.quotenone{
  animation: clipnone 14s linear infinite;
}
@-webkit-keyframes clipnone{
  0% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  20% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  50% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  60% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  70% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
}

.quotenone{
  animation: clipnone 14s linear infinite;
}
@-webkit-keyframes clipnone{
  0% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  20% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  50% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  60% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  70% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
}

.quote.quotenone{
  color: #fbff96;
}
.quotenone{
  animation: clipnone 14s linear infinite;
}
@-webkit-keyframes clipnone{
  0% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  20% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  50% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  60% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  70% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
}

.quote.quoteone{
  color: #ef108f;

}
.quoteone{
  animation: clipone 14s linear infinite;
}
@-webkit-keyframes clipone{
  0% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  30% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  60% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  70% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
}

.quote.quotetwo{
  color: #A2C523;
}
.quotetwo{
  animation: cliptwo 14s linear infinite;
}
@-webkit-keyframes cliptwo{
  0% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  25% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  45% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  75% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
}

.quote.quotethree{
  color: #FF420E;
}
.quotethree{
  animation: Clippingthree 14s linear infinite;
}
@-webkit-keyframes Clippingthree{
  0% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  25% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  50% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  80% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
}

.quote.quotefour{
  color: #C4DFE6;
}
.quotefour{
  animation: Clippingfour 14s linear infinite;
}
@-webkit-keyframes Clippingfour{
  0% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  25% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  50% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
  75% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  }
  95% {
    clip: rect(0px, 100vw, 100vh, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 0vh, 0px);
  }
}

.sixtysix{
  position: absolute;
  left: 10%;
  top: 10px;
  opacity: .2;
  color: white;
  font-size: 40vw;
  font-family: quotefont;
  text-shadow: none;
  line-height: 1;
  animation: Sixtymoveupdown 50s linear infinite;
}

@keyframes Sixtymoveupdown{
  0% {
    top: 10px;
  }
  50% {
    top: 400px;
  }
  100% {
    top: 10px;
  }
}

.ninetynine{
  position: absolute;
  bottom: 10px;
  right: 10%;
  opacity: .2;
  color: white;
  font-size: 40vw;
  font-family: quotefont;
  text-shadow: none;
  line-height: 0;
  animation: Ninetymoveupdown 50s linear infinite;
}

@keyframes Ninetymoveupdown{
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 400px;
  }
  100% {
    bottom: 10px;
  }
}


.quote.embossed.container_two{
  zoom: 80%;
  line-height: 1.5;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 6%;
}
