@media (max-width:5480px){

  .click-zoom input[type=checkbox] {
    display: none
  }

  .click-zoom img {
    margin: 0px;
    transition: transform .5s ease;
    cursor: zoom-in
  }

  .click-zoom input[type=checkbox]:checked~img {
    transform: scale(1.4);
    cursor: zoom-out;
    margin-top: 14%;
  }

  .titleforpopup {
    width: 550px;
    margin: auto;
    padding: 10px 0px;
    font-family: lato;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    line-height: 1.25;
  }

  .textforpopup {
    width: 550px;
    margin: auto;
    padding: 10px 1px;
    font-family: lato;
    font-size: 12pt;
    text-align: left;
    line-height: 1.25;
  }

  /* pop up starts */
  /* Popup container - can be anything you want */
  .popup1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup1 .popuptext1 {
    visibility: hidden;
    width: 850px;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
  	overflow: visible;
    vertical-align: middle;
  }

  /* Popup arrow */
  .popup1 .popuptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup1 .show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  	z-index: 100;
  	width: 850px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .popup2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup2 .popuptext2 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup2 .popuptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup2 .show2 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  	z-index: 100;
  	width: 1200px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIntwo {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIntwo {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .popup3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup3 .popuptext3 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup3 .popuptext3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup3 .show3 {
    visibility: visible;
    -webkit-animation: fadeInthree 1s;
    animation: fadeInthree 1s;
  	z-index: 100;
  	width: 850px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeInthree {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeInthree {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */

  .popup4 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup4 .popuptext4 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
    overflow: hidden;
  }

  /* Popup arrow */
  .popup4 .popuptext4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup4 .show4 {
    visibility: visible;
    -webkit-animation: fadeInfour 1s;
    animation: fadeInfour 1s;
  	z-index: 100;
  	width: 850px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeInfour {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeInfour {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */

  .popup5 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup5 .popuptext5 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup5 .popuptext5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup5 .show5 {
    visibility: visible;
    -webkit-animation: fadeInfive 1s;
    animation: fadeInfive 1s;
  	z-index: 100;
  	width: 850px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeInfive {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeInfive {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */

  .popup6 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup6 .popuptext6 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup6 .popuptext6::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup6 .show6 {
    visibility: visible;
    -webkit-animation: fadeInsix 1s;
    animation: fadeInsix 1s;
  	z-index: 100;
  	width: 850px;
  	height: 800px;
  	position: fixed;
  	margin: auto;
  	opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeInsix {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeInsix {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup7 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup7 .popuptext7 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  .popup7 .popuptext7::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup7 .show7 {
    visibility: visible;
    -webkit-animation: fadeInseven 1s;
    animation: fadeInseven 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeInseven {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeInseven {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */

  .popup8 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup8 .popuptext8 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup8 .popuptext8::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup8 .show8 {
    visibility: visible;
    -webkit-animation: fadeIn8 1s;
    animation: fadeIn8 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn8 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn8 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup9 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup9 .popuptext9 {
    visibility: hidden;
    width: 100vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup9 .popuptext9::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup9 .show9 {
    visibility: visible;
    -webkit-animation: fadeIn9 1s;
    animation: fadeIn9 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn9 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn9 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup10 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup10 .popuptext10 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup10 .popuptext10::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup10 .show10 {
    visibility: visible;
    -webkit-animation: fadeIn10 1s;
    animation: fadeIn10 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn10 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn10 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup11 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup11 .popuptext11 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup11 .popuptext11::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup11 .show11 {
    visibility: visible;
    -webkit-animation: fadeIn11 1s;
    animation: fadeIn11 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn11 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn11 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup12 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup12 .popuptext12 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup12 .popuptext12::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup12 .show12 {
    visibility: visible;
    -webkit-animation: fadeIn12 1s;
    animation: fadeIn12 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn12 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn12 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The actual popup */
  .popup13 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup13 .popuptext13 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup13 .popuptext13::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup13 .show13 {
    visibility: visible;
    -webkit-animation: fadeIn13 1s;
    animation: fadeIn13 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn13 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn13 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  /* The actual popup */
  .popup14 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup14 .popuptext14 {
    visibility: hidden;
    width: 50vw;
    background-color: rgba(40, 40, 40, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    overflow: visible;
  }

  /* Popup arrow */
  .popup14 .popuptext14::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup14 .show14 {
    visibility: visible;
    -webkit-animation: fadeIn14 1s;
    animation: fadeIn14 1s;
    z-index: 100;
    width: 850px;
    height: 800px;    position: fixed;
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn14 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn14 {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


    /* The actual popup */
    .popup15 {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .popup15 .popuptext15 {
      visibility: hidden;
      width: 50vw;
      background-color: rgba(40, 40, 40, .9);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px;
      position: absolute;
      z-index: 1000;
      overflow: visible;
    }

    /* Popup arrow */
    .popup15 .popuptext15::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup15 .show15 {
      visibility: visible;
      -webkit-animation: fadeIn15 1s;
      animation: fadeIn15 1s;
      z-index: 100;
      width: 850px;
      height: 800px;
      position: fixed;
      margin: auto;
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn15 {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeIn15 {
      from {opacity: 0;}
      to {opacity:1 ;}
    }


  @media (max-width:600px){


    .titleforpopup {
      width: 100vw;
      margin: auto;
      padding: 10px 4px;
      font-family: lato;
      font-size: 12pt;
      font-weight: bold;
      text-align: left;
      line-height: 1.25;
    }

  .textforpopup {
    width: 100vw;
    margin: auto;
    padding: 8px 4px;
    font-family: lato;
    font-size: 10.5pt;
    line-height: 1.3em;
  }

  .popup9 .show9, .popup3 .show3, .popup2 .show2, .popup1 .show1, .popup15 .show15, .popup4 .show4, .popup5 .show5 {
    top: 60%;
  }
  .popup6 .show6, .popup7 .show7, .popup8 .show8, .popup10 .show10, .popup11 .show11, .popup12 .show12, .popup13 .show13, .popup14 .show14  {
    top: 60%;
  }




  /* end of popup */

}
